body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    background-color: #86daff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.banner{
    position: relative;
    background-color: #cbd8de;
    max-width: 100%;
}
.banner img{
    max-width: 800px;
    width: 100%;
    
}
nav{
    background-color: #f4f4f4;
    padding: 10px;
    position: sticky;
    top: 0px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;
}
article h2{
    font-size: 48px;
}
article p{
    line-height: 1.5em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 36px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #a5bac6;
    color: white;
    padding: 10px;
    text-align: center;
}
.copyright{
    text-align: center;
    position: relative;
}
.footer ul li{
    display: inline-block;
    margin: 0 5px;
}
.social{
    margin-left: 10%;
    display: inline-block;
}
.port-heads{
    margin-top: 40px;/
}
.card-deck{
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
}
a.custom-card{
    color: blue;
}
.card{
    width: 240px;
    display: inline-block;
    border-right: 1px solid #a5bac6;
    max-width: 300px;

}
.card-image{
    padding: 5%;
    width: 100%;
}
.card-body{
    white-space: normal;
    width: 235px;
}
.skills{
    display: inline-block;
    list-style: none;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

/* pseudo-classes */

nav li a:hover{
    /* text-decoration: underline; */
    background-color: #a5bac6;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.card ul:hover{
    position: relative;
    top: -4px;
}

@media screen and (max-width:400px){
    .card-deck{
        white-space: normal;
    }
    .card{
        width: 90%;
        border-bottom: 1px solid #a5bac6;
        /* border-top: 1px solid #a5bac6; */
        border-right: none;
        margin-bottom: 3px;
    }
}

.fa{
    font-size: 20px;
    text-decoration: none;
}


/* @media screen and (max-width: 1000px){
    nav li{
        font-size: 25px;
    }
} */
