/* shared properties */

header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.banner{
    position: relative;
    min-height: 96vh;
    background-size: cover;
    background-position: center;
    padding: 200px 0 100px;
}
.banner h2{
    margin:  1em 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 700;
}
/* .banner h3{
    margin: 1em 0 0;
} */
.banner p{
    margin: 1em 0 0;
    padding: 0;
    line-height: 1.5em;
    font-size: 1.2em;
}
.banner.strikeplate img{
    width: 100%;
    margin: 10px 0 0;
}
.navbar{
    padding: 20px 0;
}
.nav-item{
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #262626;
    color: #fff;
}
.navbar-light .navbar-nav .nav-item .nav-link{
    padding: 5px 10px;
    text-align: end;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover{
    background: rgb(90, 90, 90);
    color: white;
}
main{
    max-width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
article h2{
    font-size: 48px;
}
article p{
    line-height: 1.5em;
    color: #4b4b4b;
}

footer{
    position: relative;
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    text-align: center;   
}

.footer ul li{
    display: inline-block;
}

.footer-portfolio {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-portfolio ul li {
    display: inline-block;
}

.social{
    display: inline-block;
    margin-bottom: 0rem;
}
.social li a{
    color: white;
    padding-right: 10px;
}
.card{
    width: 14rem;
}
.skills{
    display: inline-block;
    list-style: none;
}
.fa{
    font-size: 20px;
    text-decoration: none;
}
.scrolling-wrapper{
    overflow-x: auto;
}
body{
	background-color: black;
	color: #fff;
	font-family: 'system-ui';
}
h1{
	font-weight: 800;
	font-size: 3em;
}
.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

/* page-specific properties */

.banner.about h3{
    margin: 1em 0 1em;
}
.pheader{
    z-index: 0;
    position: relative;
}
.navbar.portfolio{
    background-color: white;
    width: 100%;
}
.portfolio h2{
    margin-top: 40px;
    text-align: start;
    font-weight: 700;
}
.portfolio h3{
    margin: 40px 0;
    text-align: start;
    font-weight: 600;
}
main .contact{
    position: relative;
    top: 250px;
    z-index: -1;
}
.cfooter{
    position: fixed;
    bottom: 0;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}


/* pseudo-classes */

.card:hover{
    position: relative;
    top: -4px;
}

@media screen and (max-width:575px){
    .banner{
        background-position: left;
    }
    .banner h2{
        font-size: 1.8em;
    }
    .banner.about{
        background-position: right;
    }
    footer{
        background: black;
        color: white;
    }
    .footer ul li{
        text-align: center;
        margin: 0;
    }
    .social{
        margin-left: 0px;
        text-align: center;
    }
}